@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-underline {
  position: relative;
  font-weight: bold;
  display: inline-block; /* Ensures the underline width is relative to the text width */
  text-align: center;
}

.custom-underline::after {
  content: '';
  position: absolute;
  bottom: -4px; /* Adjust based on the font size */
  left: 0;
  width: 50px; /* Width of the underline */
  height: 6px; /* Thickness of the underline */
  background-color: currentColor; /* Same color as the text */
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-slide-in-left {
  animation: slide-in-left 0.5s ease-out;
}
